config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerforpyophidia:
      branch: main
      repo: https://github.com/PalomoIFCA/testerforpyophidia
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerforpyophidia git:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-goldenrod-alligator.sh
        container: qc.acc_stuffy-auburn-birman
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerforpyophidia find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-vermilion-forest.sh
        container: qc.doc_snappy-viridian-lizard
      github.com/PalomoIFCA/testerforpyophidia git:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-teal-akita.sh
        container: qc.doc_leaky-yellow-akbash
      github.com/PalomoIFCA/testerforpyophidia markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-chocolate-macaw.sh
        container: qc.doc_pasty-pumpkin-raccoon
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerforpyophidia licensee:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-eggplant-boar.sh
        container: qc.lic_muggy-viridian-buzzard
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerforpyophidia bandit:
        commands:
        - /usr/bin/env sh .sqa/script.shabby-coral-giraffe.sh
        container: qc.sec_baggy-goldenrod-squid
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerforpyophidia flake8:
        commands:
        - /usr/bin/env sh .sqa/script.sleepy-harlequin-dalmatian.sh
        container: qc.sty_gummy-bistre-leopard
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerforpyophidia pytest:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-cornflower-kiwi.sh
        container: qc.uni_freaky-jade-capuchin
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerforpyophidia get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.leaky-wheat-zebra.sh
        container: qc.ver_ugly-grey-jackal
timeout: 5400
